# Environment Configuration

# Set to true to use local mock data services. Set to false to make HTTP requests to the backend API.
VITE_USE_MOCK_DATA=true

# Base URL for the reconciliation backend API service
VITE_API_BASE_URL=http://localhost:8000/api/v1

# Auth Token LocalStorage Key Name
VITE_AUTH_TOKEN_KEY=recon_auth_token
